.layout-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;

  .menu-item {
    position: relative;
    
    a {
      display: flex;
      align-items: center;
      padding: 1em 1em; // Aumentar el padding
      text-decoration: none;
      cursor: pointer;
      font-size: 1em; // Aumentar el tamaño de fuente
      left: 0;
    }

    .pi {
      margin-right: 1em; // Aumentar el espacio entre el icono y el texto
      font-size: 1.5em; // Aumentar el tamaño del icono
    }

    .submenu {
      display: none;
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: relative;
      left: 1em;
      top: 0;
      white-space: nowrap;
      background: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

      .submenu-item {
        a {
          padding: 0.8em 0.8em; // Aumentar el padding
          font-size: 0.8em; // Aumentar el tamaño de fuente
        }

        .pi {
          margin-right: 1em; // Aumentar el espacio entre el icono y el texto
          font-size: 1.5em; // Aumentar el tamaño del icono
        }
      }

      &.expanded {
        display: block;
      }
    }

    &.expanded > .submenu {
      display: block;
    }
  }
}
