
<div class="bubble-container">
    <div class="bubble">
      <h3 class="text-center mt-4">EDITAR CATEGORIA EXISTENTE</h3>
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="inputNombre" class="form-label">Nombre:</label>
          <input type="text" class="form-control" id="inputNombres" [(ngModel)]="categoria.nombre" name="nombre" required>
        </div>
        <div class="mb-3">
          <label for="inputRuta" class="form-label">Ruta:</label>
          <input type="text" class="form-control" id="inputRuta" [(ngModel)]="categoria.ruta" name="ruta" required>
        </div>
        <div class="mb-3">
          <label for="inputHabilitado" class="form-label">Habilitado:</label>
          <input type="checkbox" class="form-check-input" id="inputHabilitado" name="habilitado" [(ngModel)]="categoria.habilitado">
        </div>
        <button type="submit" class="btn btn-warning btn-sm me-3">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="cerrar()">Regresar</button>
      </form>
    </div>
  </div>
  