<div class="bubble-container">
  <div class="bubble">
    <h3 class="text-center mt-4">AGREGAR NUEVO USUARIO</h3>
    <form [formGroup]="agregarFormulario" (submit)="agregarUsuario()" class="w-50 mx-auto">
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" formControlName="email" required>
        <div *ngIf="agregarFormulario.get('email')?.errors?.['required'] && agregarFormulario.get('email')?.touched" class="text-danger">Email es requerido.</div>
        <div *ngIf="agregarFormulario.get('email')?.errors?.['email'] && agregarFormulario.get('email')?.touched" class="text-danger">Email no válido.</div>
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" formControlName="password" required>
        <div *ngIf="agregarFormulario.get('password')?.errors?.['required'] && agregarFormulario.get('password')?.touched" class="text-danger">Contraseña es requerida.</div>
      </div>
      <div class="mb-3">
        <label for="inputNombres" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="inputNombres" formControlName="nombres" required>
        <div *ngIf="agregarFormulario.get('nombres')?.errors?.['required'] && agregarFormulario.get('nombres')?.touched" class="text-danger">Nombres es requerido.</div>
      </div>
      <div class="mb-3">
        <label for="inputApellidos" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="inputApellidos" formControlName="apellidos" required>
        <div *ngIf="agregarFormulario.get('apellidos')?.errors?.['required'] && agregarFormulario.get('apellidos')?.touched" class="text-danger">Apellidos es requerido.</div>
      </div>
      <div class="mb-3">
        <label for="inputTipoUsuario" class="form-label">Tipo Usuario</label>
        <select class="form-control" id="inputTipoUsuario" formControlName="idTipousuario">
          <option *ngFor="let tipoUsuario of tipousuarios" [value]="tipoUsuario.idTipousuario">{{ tipoUsuario.nombre }}</option>
        </select>
        <div *ngIf="agregarFormulario.get('idTipousuario')?.errors?.['required'] && agregarFormulario.get('idTipousuario')?.touched" class="text-danger">Tipo Usuario es requerido.</div>
      </div>
      <div class="mb-3">
        <label for="inputUrlFoto" class="form-label">URL de Foto</label>
        <input type="text" class="form-control" id="inputUrlFoto" formControlName="urlFoto" required>
        <div *ngIf="agregarFormulario.get('urlFoto')?.errors?.['required'] && agregarFormulario.get('urlFoto')?.touched" class="text-danger">URL de foto es requerido.</div>
      </div>
      <div class="mb-3">
        <label for="inputUniversidad" class="form-label">Universidad</label>
        <input type="text" class="form-control" id="inputUniversidad" formControlName="universidad" required>
        <div *ngIf="agregarFormulario.get('universidad')?.errors?.['required'] && agregarFormulario.get('universidad')?.touched" class="text-danger">Universidad es requerida.</div>
      </div>
      <div class="mb-3">
        <label for="inputHabilitado" class="form-check-label">Habilitado</label>
        <input type="checkbox" class="form-check-input" id="inputHabilitado" formControlName="habilitado">
      </div>

      <button type="submit" class="btn btn-primary">Agregar</button>
      <button type="button" class="btn btn-secondary" (click)="cerrar()">Cancelar</button>
    </form>
  </div>
</div>
