<p-toast></p-toast>
<div class="card">
  <div style="margin: 1rem;">
    <h3>GESTION DE USUARIOS</h3>
  </div>
  <div class="col-12">
    <div class="flex flex-wrap align-items-center justify-content-between mb-3 gap-3">
      <h5 class="m-0">Tabla de usuarios</h5>
      <p-button icon="pi pi-plus" severity="info" label="Agregar Usuario" (click)="OpenAgregar()"></p-button>
    </div>
    <p-table [value]="usuarios" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }"
      [showCurrentPageReport]="true" currentPageReportTemplate="{last} de {totalRecords} Registros">
      <ng-template pTemplate="header">
        <tr> 
          <th style="text-align: center;">ID</th>
          <th style="text-align: center;">Correo Electrónico</th> 
          <th style="text-align: center;">Contraseña</th>
          <th style="text-align: center;">Nombre Completo</th>
          <th style="text-align: center;">Apellidos</th>
          <th style="text-align: center;">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usuarios>
        <tr>
          <td style="width: 8%; text-align: center;">{{ usuarios.idUsuario }}</td>
          <td style="width: 12%; text-align: center;">{{ usuarios.email }}</td>
          <td style="width: 10%; text-align: center;">{{ maskPassword(usuarios.password) }}</td>
          <td style="width: 10%; text-align: center;">{{ usuarios.nombres }}</td>
          <td style="width: 20%; text-align: center;">{{ usuarios.apellidos }}</td>
          <td style="width: 20%; text-align: center;">
            <div class="btn-group" role="group" aria-label="Acciones"
              style="display: flex; justify-content: space-evenly;">
              <p-button (onClick)="OpenModificar(usuarios.idUsuario)" size="small" severity="warning"
                icon="pi pi-pencil" label="Modificar"></p-button>
              <p-button (onClick)="eliminarUsuarios(usuarios.idUsuario)" size="small" severity="danger"
                icon="pi pi-trash" label="Eliminar"></p-button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="10">No se han encontrado registros.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


<!-- UI de Agregar Sección -->
<p-dialog header="Agregar Nuevo Usuario" [(visible)]="AgregarDialog" [modal]="true" [style]="{ width: '50rem' }">
  <ng-template pTemplate="content">
    <form [formGroup]="agregarFormulario">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-12">
          <label htmlFor="email">Correo Electrónico</label>
          <input pInputText formControlName="email" type="text" id="email" required />
          <div *ngIf="agregarFormulario.get('email')?.errors?.['required'] && agregarFormulario.get('email')?.touched"
            class="text-danger">Email es requerido.</div>
          <div *ngIf="agregarFormulario.get('email')?.errors?.['email'] && agregarFormulario.get('email')?.touched"
            class="text-danger">Email no válido.</div>
        </div>
        <div class="field col-12 md:col-12">
          <label htmlFor="password">Contraseña</label>
          <input pInputText formControlName="password" type="password" id="password" required />
          <div
            *ngIf="agregarFormulario.get('password')?.errors?.['required'] && agregarFormulario.get('password')?.touched"
            class="text-danger">Contraseña es requerida.</div>
        </div>
        <div class="field col-12 md:col-12">
          <label htmlFor="nombre">Nombre Completo</label>
          <input pInputText formControlName="nombres" type="text" id="nombre" required />
          <div
            *ngIf="agregarFormulario.get('nombres')?.errors?.['required'] && agregarFormulario.get('nombres')?.touched"
            class="text-danger">Nombres es requerido.</div>
        </div>
        <div class="field col-12 md:col-12">
          <label htmlFor="apellido">Apellidos</label>
          <input pInputText formControlName="apellidos" type="text" id="apellido" required />
          <div
            *ngIf="agregarFormulario.get('apellidos')?.errors?.['required'] && agregarFormulario.get('apellidos')?.touched"
            class="text-danger">Apellidos es requerido.</div>
        </div>
        <div class="field col-12 md:col-12">
          <label htmlFor="apellido">Tipo de Usuario</label>
          <p-dropdown formControlName="idTipousuario" [options]="tipousuarios" optionValue="idTipousuario"
            optionLabel="nombre"></p-dropdown>
          <div
            *ngIf="agregarFormulario.get('idTipousuario')?.errors?.['required'] && agregarFormulario.get('idTipousuario')?.touched"
            class="text-danger">Tipo Usuario es requerido.</div>
        </div>
        <div class="field col-12 md:col-12">
          <label htmlFor="imagen">URL de Foto</label>
          <input pInputText formControlName="urlFoto" type="text" id="imagen" required />
          <div
            *ngIf="agregarFormulario.get('urlFoto')?.errors?.['required'] && agregarFormulario.get('urlFoto')?.touched"
            class="text-danger">URL de foto es requerido.</div>
        </div>
        <div class="field col-12 md:col-12">
          <label htmlFor="universidad">Universidad</label>
          <input pInputText formControlName="universidad" type="text" id="universidad" required />
          <div
            *ngIf="agregarFormulario.get('universidad')?.errors?.['required'] && agregarFormulario.get('universidad')?.touched"
            class="text-danger">Universidad es requerida.</div>
        </div>
        <div class="ml-3 mr-3 mb-3">
          <label for="inputHabilitado" class="form-check-label">Habilitado</label>
          <input type="checkbox" class="form-check-input" id="inputHabilitado" formControlName="habilitado" required>
          <div
            *ngIf="agregarFormulario.get('habilitado')?.errors?.['required'] && agregarFormulario.get('habilitado')?.touched"
            class="text-danger">Habilitado es requerido.</div>

        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <form [formGroup]="agregarFormulario" (ngSubmit)="agregarUsuario()">
      <p-button type="submit" label="Agregar" icon="pi pi-check" [outlined]="true" severity="success" />
      <p-button (onClick)="CloseAgregar()" label="Cancelar" icon="pi pi-times" [text]="true" severity="danger" />
    </form>
  </ng-template>
</p-dialog>

<!-- UI de Modificar Usuario -->
<p-dialog header="Modificar Sección" [(visible)]="ModificarDialog" [modal]="true" [style]="{ width: '50rem' }">
  <ng-template pTemplate="content">
    <form [formGroup]="modificarFormulario">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-12">
          <label htmlFor="email">Correo Electrónico</label>
          <input pInputText formControlName="email" type="text" id="email" required />
          <div
            *ngIf="modificarFormulario.get('email')?.errors?.['required'] && modificarFormulario.get('email')?.touched"
            class="text-danger">Email es requerido.</div>
        </div>
        <div class="field col-12 md:col-12">
          <label htmlFor="password">Contraseña</label>
          <input pInputText formControlName="password" type="password" id="password" required />
        </div>
        <div class="field col-12 md:col-12">
          <label htmlFor="nombre">Nombre Completo</label>
          <input pInputText formControlName="nombres" type="text" id="nombre" required />
          <div
            *ngIf="modificarFormulario.get('nombres')?.errors?.['required'] && modificarFormulario.get('nombres')?.touched"
            class="text-danger">Nombres es requerido.</div>
        </div>
        <div class="field col-12 md:col-12">
          <label htmlFor="apellido">Apellidos</label>
          <input pInputText formControlName="apellidos" type="text" id="apellido" required />
          <div
            *ngIf="modificarFormulario.get('apellidos')?.errors?.['required'] && modificarFormulario.get('apellidos')?.touched"
            class="text-danger">Apellidos es requerido.</div>
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="apellido">Tipo de Usuario</label>
          <p-dropdown formControlName="idTipousuario" [options]="tipousuarios" optionValue="idTipousuario"
            optionLabel="nombre"></p-dropdown>
          <div
            *ngIf="modificarFormulario.get('idTipousuario')?.errors?.['required'] && modificarFormulario.get('idTipousuario')?.touched"
            class="text-danger">Tipo Usuario es requerido.</div>
        </div>
        <div class="field col-12 md:col-12">
          <label htmlFor="imagen">URL de Foto</label>
          <input pInputText formControlName="urlFoto" type="text" id="imagen" required />
          <div
            *ngIf="modificarFormulario.get('urlFoto')?.errors?.['required'] && modificarFormulario.get('urlFoto')?.touched"
            class="text-danger">URL de foto es requerido.</div>
        </div>
        <div class="field col-12 md:col-12">
          <label htmlFor="universidad">Universidad</label>
          <input pInputText formControlName="universidad" type="text" id="universidad" required />
          <div
            *ngIf="modificarFormulario.get('universidad')?.errors?.['required'] && modificarFormulario.get('universidad')?.touched"
            class="text-danger">Universidad es requerida.</div>
        </div>
        <div class="ml-3 mr-3 mb-3">
          <label for="inputHabilitado" class="form-check-label">Habilitado</label>
          <input type="checkbox" class="form-check-input" id="inputHabilitado" formControlName="habilitado" required>
          <div
            *ngIf="modificarFormulario.get('habilitado')?.errors?.['required'] && modificarFormulario.get('habilitado')?.touched"
            class="text-danger">Habilitado es requerido.</div>

        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <form [formGroup]="modificarFormulario" (ngSubmit)="ModificarUsuario()">
      <p-button type="submit" label="Modificar" icon="pi pi-check" [outlined]="true" severity="success" />
      <p-button (onClick)="CloseModificar()" label="Cancelar" icon="pi pi-times" [text]="true" severity="danger" />
    </form>
  </ng-template>
</p-dialog>