<p-toast></p-toast>
<div class="card">
  <div style="margin: 1rem;">
    <h3>GESTION DE CATEGORÍAS - CURSOS</h3>
  </div>
  <div class="col-12">
    <div class="flex flex-wrap align-items-center justify-content-between mb-3 gap-3">
      <h5 class="m-0">Tabla de Categorías - Cursos</h5>
      <p-button icon="pi pi-plus" severity="info" label="Agregar Categoría" (click)="OpenAgregar()"></p-button>
    </div>
    <p-table [value]="categorias" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
      [showCurrentPageReport]="true" currentPageReportTemplate="{last} de {totalRecords} Registros">
      <ng-template pTemplate="header">
        <tr>
          <th style="text-align: center;">ID</th>
          <th style="text-align: center;">Nombre de la Categoría</th>
          <th style="text-align: center;">Ruta</th>
          <th style="text-align: center;">Usuario de Creación</th>
          <th style="text-align: center;">Fecha de Creación</th>
          <th style="text-align: center;">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-categoria>
        <tr>
          <td style="width: 8%; text-align: center;">{{ categoria.idCategoria }}</td>
          <td style="width: 12%; text-align: center;">{{ categoria.nombre }}</td>
          <td style="width: 30%; text-align: center;">{{ categoria.ruta }}</td>
          <td style="width: 10%; text-align: center;">{{ categoria.creadoPor }}</td>
          <td style="width: 10%; text-align: center;">{{ categoria.fechaCreacion }}</td>
          <td style="width: 20%; text-align: center;">
            <div class="btn-group" role="group" aria-label="Acciones"
              style="display: flex; justify-content: space-evenly;">
              <p-button (onClick)="OpenModificar(categoria.idCategoria)" size="small" severity="warning"
                icon="pi pi-pencil" label="Modificar"></p-button>
              <p-button (onClick)="eliminarCategorias(categoria.idCategoria)" size="small" severity="danger"
                icon="pi pi-trash" label="Eliminar"></p-button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">No se han encontrado registros.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


<!-- UI de Agregar Categoria -->
<p-dialog header="Agregar Nueva Categoria" [(visible)]="AgregarDialog" [modal]="true" [style]="{ width: '50rem' }">
  <ng-template pTemplate="content">
    <form [formGroup]="agregarFormulario">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-12">
          <label htmlFor="nombre">Nombre de la Categoria</label>
          <input pInputText formControlName="nombre" type="text" id="nombre" required />
          <div *ngIf="agregarFormulario.get('nombre')?.errors?.['required'] && agregarFormulario.get('nombre')?.touched"
            class="text-danger">Nombre es requerido.</div>
        </div>
        <div class="field col-12 md:col-12">
          <label htmlFor="ruta">Ruta</label>
          <input pInputText formControlName="ruta" type="text" id="ruta" required />
          <div *ngIf="agregarFormulario.get('ruta')?.errors?.['required'] && agregarFormulario.get('ruta')?.touched"
            class="text-danger">Ruta es requerido.</div>
        </div>
        <div class="ml-3 mr-3 mb-3">
          <label for="inputHabilitado" class="form-check-label">Habilitado</label>
          <input type="checkbox" class="form-check-input" id="inputHabilitado" formControlName="habilitado" required>
          <div
            *ngIf="agregarFormulario.get('habilitado')?.errors?.['required'] && agregarFormulario.get('habilitado')?.touched"
            class="text-danger">Habilitado es requerido.</div>

        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <form [formGroup]="agregarFormulario" (ngSubmit)="agregarCategoria()">
      <p-button type="submit" label="Agregar" icon="pi pi-check" [outlined]="true" severity="success" />
      <p-button (onClick)="CloseAgregar()" label="Cancelar" icon="pi pi-times" [text]="true" severity="danger" />
    </form>
  </ng-template>
</p-dialog>

<!-- UI de Modificar Categoria -->
<p-dialog header="Modificar Categoria" [(visible)]="ModificarDialog" [modal]="true" [style]="{ width: '50rem' }">
  <ng-template pTemplate="content">
    <form [formGroup]="modificarFormulario">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-12">
          <label htmlFor="nombre">Nombre de la Categoria</label>
          <input pInputText formControlName="nombre" type="text" id="nombre" required />
          <div
            *ngIf="modificarFormulario.get('nombre')?.errors?.['required'] && modificarFormulario.get('nombre')?.touched"
            class="text-danger">Nombre es requerido.</div>
        </div>
        <div class="field col-12 md:col-12">
          <label htmlFor="ruta">Ruta</label>
          <input pInputText formControlName="ruta" type="text" id="ruta" required />
          <div *ngIf="modificarFormulario.get('ruta')?.errors?.['required'] && modificarFormulario.get('ruta')?.touched"
            class="text-danger">Ruta es requerido.</div>
        </div>
        <div class="ml-3 mr-3 mb-3">
          <label for="inputHabilitado" class="form-check-label">Habilitado</label>
          <input type="checkbox" class="form-check-input" id="inputHabilitado" formControlName="habilitado" required>
          <div
            *ngIf="modificarFormulario.get('habilitado')?.errors?.['required'] && modificarFormulario.get('habilitado')?.touched"
            class="text-danger">Habilitado es requerido.</div>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <form [formGroup]="modificarFormulario" (ngSubmit)="ModificarCategoria()">
      <p-button type="submit" label="Modificar" icon="pi pi-check" [outlined]="true" severity="success" />
      <p-button (onClick)="CloseModificar()" label="Cancelar" icon="pi pi-times" [text]="true" severity="danger" />
    </form>
  </ng-template>
</p-dialog>